@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

*
{
	margin: 0;
}

a
{
	text-decoration: none;
}

body
{
	background-image: url('../img/background.png');	
	color: #4C4C4C;
	height: 100%;
	font-family: "Antic", sans-serif;
	font-size: 80%;
}

/*
 * 		Diseño del Footer
 */

footer
{
	background: #22bce0;
	box-shadow: 0px -3px 10px #999;
	color: #fff;
	font-size: 1em;
	width: 100%;
}

footer #copyright
{
	display: block;
	font-size: 0.8em;
	padding-bottom: 1em;
	padding-top: 2em;
	text-align: center;
}

footer #copyright p:first-child
{
	padding-top: 30px;
}

footer #footer
{
	text-align: center;
}

footer #footer #contacto,
footer #footer #localizacion
{
	display: inline-block;
	margin-left: 2%;
	margin-right: 2%;
	vertical-align: top;
	width: 290px;
}

footer #footer #contacto
{
	margin-top: 30px;
}

footer #footer #contacto a
{
	background: white;
	border-radius: 50%;
	color: #999;
	font-size: 1.5em;
	padding: 0.4em 0.5em;
}

footer #footer #contacto h3,
footer #footer #localizacion h3
{
	padding-bottom: 2em;
}

footer #footer #contacto #gplus:after
{
	content: "\e607";
	font-family: 'icomoon';
}

footer #footer #contacto #gplus:hover
{
	color: #D44332;
}

footer #footer #contacto #skype:after
{
	content: "\e601";
	font-family: 'icomoon';
}

footer #footer #contacto #skype:hover
{
	color: #00B0F6;
}

footer #footer #contacto #twitter:after
{
	content: "\e602";
	font-family: 'icomoon';
}

footer #footer #contacto #twitter:hover
{
	color: #00aced;
}

footer #desarrollador
{
	display: none;
}

footer #footer #localizacion
{
	padding-bottom: 1em;
	margin-top: 50px;
}

footer #footer #localizacion p
{
	text-align: left;
	padding-bottom: 0.5em;
	padding-left: 3em;
}

/*
 *		Diseño del Header
 */

header h1
{
	font-size: 2em;	
	margin-top: -110px;	
	text-shadow: 3px 1px 0 rgba(0, 0, 0, 0.3);
}

header h2
{
	color: #848484;
	font-size: 1em;
	margin-top: -75px;
}

header #login
{  	
    background: #cc3732;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-top: -100px;
    position: absolute;
    right: 5px;
    width: 50px;    
}

header #login:hover
{
	background: #e74b37;
}

header #login .iconLogin
{
	background: url('../img/btn_red1.png') transparent 10px 50% no-repeat;
	display: inline-block;
    vertical-align: middle;
    width: 35px;
    height: 35px;
}

header #titulo
{
	border-right: 40px solid transparent;
    border-top: 100px solid #fff;
	margin-right: 20%;
	padding: 1em 0.5em;	

	-webkit-filter: drop-shadow(0px 0px 10px #999);
}

header #titulo #logo
{
	margin-top: -100px
}

header #titulo #logo img
{
	width: 70px;
}

/*
 *CSS para los datos del usuario.
 */

header #usuario
{
	display: none;
	position: absolute;
	top : 15px;
	right: 5px;
}

header #usuario div,
header #usuario div .datos,
header #usuario div #apuntador,
header #usuario #avatar
{
	display: inline-block;
}

header #usuario div
{
	display: none;
}

header #usuario div #apuntador
{
	border-top: 10px solid transparent;
 	border-bottom: 10px solid transparent;
 	border-left: 10px solid white; 	
 	position: relative;
 	left: -5px;
 	top: -12px;

 	-webkit-filter: drop-shadow(rgba(153, 153, 153, 1) 1.5px 0px 0px);
}

header #usuario div .datos{
	background: #fff;
	border-radius: 5px 2px 5px 5px;
	box-shadow: 0px 0px 1px 1px #999;
	padding: 0.5em 1em;
	text-align: right;
}

header #usuario div .datos #nombreUsuario
{
	font-weight: bold;
}

header #usuario div .datos #signout
{
	color: #cc3732;
	cursor: pointer;
}

header #usuario div .datos #signout:hover
{
	text-decoration: underline;
}

header #usuario figure
{
	margin-left: -10px;
}

header #usuario #avatar img
{
	border-radius: 50%;
	box-shadow: 0px 0px 1px 1px #999;
	display: block;
	width: 50px;
}

header .titulo_header
{
	font-family: 'Kite One', sans-serif;
	margin-bottom: 0px;
	margin-left: 80px;
	margin-right: 20%;
	position: absolute;
}

/*
 *		Diseño del Contenido de Presentacion
 */

#contenido
{
	text-align: center;
}

#contenido .elemento
{
	display: inline-block;
	margin: 10px 0px;
	text-align: center;
	padding: 1em 0px;
	vertical-align: top;
	width: 220px;
}

#contenido .elemento .chapa
{
	
	border-radius: 50%;
	color: #fff;
	display: inline-block;
	font-family: "icomoon";
	font-size: 2.5em;
	padding: 0.5em;
	text-align: center;
}

#contenido .elemento #chapa1
{
	background: #9CBF60;
}

#contenido .elemento #chapa1:after
{
	content: "\e603";
}

#contenido .elemento #chapa2
{
	background: #D34B44;
}

#contenido .elemento #chapa2:after
{
	content: "\e604";
}

#contenido .elemento #chapa3
{
	background: #E2A326;
}

#contenido .elemento #chapa3:after
{
	content: "\e606";
}

#contenido .elemento .descripcion
{
	font-size: 1.5em;
	margin: 1em 0.5em;
	text-align: center;
	padding: 1em 0.5em;
}

/*
 * Diseño de los contenedores de las puertas
 */

#seccionPuertas
{
	text-align: center;
}

#seccionPuertas .contPuerta
{
	background: white;
	border-radius: 5px;
	box-shadow: 0px 0px 10px 1px #999;
	display: inline-block;
	margin: 0.5em 0.5em;
	width: 300px;
}

#seccionPuertas .contPuerta .tituloPuerta
{
	display: inline-block;
	font-weight: bold;
	padding: 0.5em 0px;
	width: 280px;
}

#seccionPuertas .contPuerta .contDatos figure
{
	border-left: solid #999 0.3em;
	border-right: solid #999 0.3em;
	border-top: solid #999 0.3em;
	display: inline-block;
	margin: 0.5em 0 1em 0;
	padding: 1px 1px 0px 1px;
	perspective: 10em;
}

#seccionPuertas .contPuerta .contDatos object
{
	height: 55px;
	width: 40px;
	transition: 1s;
}

#seccionPuertas .contPuerta .contDatos object.outsideOpen
{
	transform-origin: 0 50% 0;
	transform: rotateY(60deg);
}

#seccionPuertas .contPuerta .contDatos object.insideOpen
{
	transform-origin: 0 50% 0;
	transform: rotateY(-60deg);
}

#seccionPuertas .contPuerta .contDatos .contInfo
{
	display: inline-block;
	margin: 0.5em;
	text-align: center;
	vertical-align: top;
	width: 200px;
}

#seccionPuertas .contPuerta .contDatos .contInfo .infoDescripcion
{
	margin-left: 1em;	
}

#seccionPuertas .contPuerta .contDatos .contInfo p
{
	display: inline-block;
	font-size: 0.8em;
	text-align: left;
	width: 90px;
}

#seccionPuertas .contPuerta .contDatos .contInfo p:nth-child(5)
{
	text-align: left;
	width: 100%;
}

#seccionPuertas .contPuerta .contDatos .contInfo .infoBateria:after
{
	content: ' %';
}

#seccionPuertas .contPuerta .contDatos .contInfo .infoBateria:before
{
	color: #FBD600;
	content: "\e605";
	font-family: 'icomoon';
	margin-right: 3px;
}

#seccionPuertas .contPuerta .contDatos .contInfo .infoTiempo:after
{
	content: ' minutos';
}

#seccionPuertas .contPuerta .contDatos .contInfo .infoTiempo:before
{
	color: #000;
	content: "\e608";
	font-family: 'icomoon';
	margin-right: 3px;
}

#seccionPuertas .contPuerta .contDatos .contInfo .infoEntrada:before
{
	color: #3AB54A;
	content: "\e609";
	font-family: 'icomoon';
	margin-right: 3px;
}

#seccionPuertas .contPuerta .contDatos .contInfo .infoSalida:before
{
	color: #EC1B23;
	content: "\e60a";
	font-family: 'icomoon';
	margin-right: 3px;
}

#seccionPuertas .contPuerta .contDatos .contInfo .infoDescripcion:before
{
	color: #3F7BCB;
	content: "\e60b";
	font-family: 'icomoon';
	margin-right: 3px;
}

