@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

*
{
	margin: 0;
}

a
{
	text-decoration: none;
}

body
{
	background-image: url('../img/background.png');	
	color: #4C4C4C;
	height: 100%;
	font-family: "Antic", sans-serif;
	font-size: 80%;
}

/*
 * 		Diseño del Footer
 */

footer
{
	background: #22bce0;
	box-shadow: 0px -3px 10px #999;
	color: #fff;
	font-size: 1em;
	width: 100%;
}

footer #copyright
{
	display: block;
	font-size: 0.8em;
	padding-bottom: 1em;
	padding-top: 2em;
	text-align: center;
}

footer #copyright p:first-child
{
	padding-top: 30px;
}

footer #footer
{
	text-align: center;
}

footer #footer #contact,
footer #footer #location
{
	display: inline-block;
	margin-left: 2%;
	margin-right: 2%;
	vertical-align: top;
	width: 290px;
}

footer #footer #contact
{
	margin-top: 30px;
}

footer #footer #contact a
{
	background: white;
	border-radius: 50%;
	color: #999;
	font-size: 1.5em;
	padding: 0.4em 0.5em;
}

footer #footer #contact h3,
footer #footer #location h3
{
	padding-bottom: 2em;
}

footer #footer #contact #gplus:after
{
	content: "\e607";
	font-family: 'icomoon';
}

footer #footer #contact #gplus:hover
{
	color: #D44332;
}

footer #footer #contact #skype:after
{
	content: "\e601";
	font-family: 'icomoon';
}

footer #footer #contact #skype:hover
{
	color: #00B0F6;
}

footer #footer #contact #twitter:after
{
	content: "\e602";
	font-family: 'icomoon';
}

footer #footer #contact #twitter:hover
{
	color: #00aced;
}

footer #developer
{
	display: none;
}

footer #footer #location
{
	padding-bottom: 1em;
	margin-top: 50px;
}

footer #footer #location p
{
	text-align: left;
	padding-bottom: 0.5em;
	padding-left: 3em;
}

/*
 *		Diseño del Header
 */

header h1
{
	font-size: 2em;	
	margin-top: -110px;	
	text-shadow: 3px 1px 0 rgba(0, 0, 0, 0.3);
}

header h2
{
	color: #848484;
	font-size: 1em;
	margin-top: -75px;
}

header #login
{  	
    background: #cc3732;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-top: -100px;
    position: absolute;
    right: 5px;
    width: 50px;    
}

header #login:hover
{
	background: #e74b37;
}

header #login .icon_login
{
	background: url('../img/btn_red1.png') transparent 10px 50% no-repeat;
	display: inline-block;
    vertical-align: middle;
    width: 35px;
    height: 35px;
}

header #title
{
	border-right: 40px solid transparent;
    border-top: 100px solid #fff;
	margin-right: 20%;
	padding: 1em 0.5em;	

	-webkit-filter: drop-shadow(0px 0px 10px #999);
}

header #title #logo
{
	margin-top: -100px
}

header #title #logo img
{
	width: 70px;
}

/*
 *CSS para los datos del usuario.
 */

header #user
{
	display: none;
	position: absolute;
	top : 15px;
	right: 5px;
}

header #user div,
header #user div .data_user,
header #user div #arrow,
header #user #avatar
{
	display: inline-block;
}

header #user div
{
	display: none;
}

header #user div #arrow
{
	border-top: 10px solid transparent;
 	border-bottom: 10px solid transparent;
 	border-left: 10px solid white; 	
 	position: relative;
 	left: -5px;
 	top: -12px;

 	-webkit-filter: drop-shadow(rgba(153, 153, 153, 1) 1.5px 0px 0px);
}

header #user div .data_user{
	background: #fff;
	border-radius: 5px 2px 5px 5px;
	box-shadow: 0px 0px 1px 1px #999;
	padding: 0.5em 1em;
	text-align: right;
}

header #user div .data_user #user_name
{
	font-weight: bold;
}

header #user div .data_user #signout
{
	color: #cc3732;
	cursor: pointer;
}

header #user div .data_user #signout:hover
{
	text-decoration: underline;
}

header #user figure
{
	margin-left: -10px;
}

header #user #avatar img
{
	border-radius: 50%;
	box-shadow: 0px 0px 1px 1px #999;
	display: block;
	width: 50px;
}

header .title_header
{
	font-family: 'Kite One', sans-serif;
	margin-bottom: 0px;
	margin-left: 80px;
	margin-right: 20%;
	position: absolute;
}

/*
 *		Diseño del Contenido de Presentacion
 */

#content_presentation
{
	text-align: center;
}

#content_presentation .item
{
	display: inline-block;
	margin: 10px 0px;
	text-align: center;
	padding: 1em 0px;
	vertical-align: top;
	width: 220px;
}

#content_presentation .item .icon_description
{
	
	border-radius: 50%;
	color: #fff;
	display: inline-block;
	font-family: "icomoon";
	font-size: 2.5em;
	padding: 0.5em;
	text-align: center;
}

#content_presentation .item #icon_description1
{
	background: #9CBF60;
}

#content_presentation .item #icon_description1:after
{
	content: "\e603";
}

#content_presentation .item #icon_description2
{
	background: #D34B44;
}

#content_presentation .item #icon_description2:after
{
	content: "\e604";
}

#content_presentation .item #icon_description3
{
	background: #E2A326;
}

#content_presentation .item #icon_description3:after
{
	content: "\e606";
}

#content_presentation .item .description
{
	font-size: 1.5em;
	margin: 1em 0.5em;
	text-align: center;
	padding: 1em 0.5em;
}

/*
 * Diseño de los contenedores de las puertas
 */

#section_doors
{
	text-align: center;
}

#section_doors .content_door
{
	background: white;
	border-radius: 5px;
	box-shadow: 0px 0px 10px 1px #999;
	display: inline-block;
	margin: 0.5em 0.5em;
	width: 300px;
}

#section_doors .content_door .title_door
{
	display: inline-block;
	font-weight: bold;
	padding: 0.5em 0px;
	width: 280px;
}

#section_doors .content_door .content_info figure
{
	border-left: solid #999 0.3em;
	border-right: solid #999 0.3em;
	border-top: solid #999 0.3em;
	display: inline-block;
	margin: 0.5em 0 1em 0;
	padding: 1px 1px 0px 1px;
	perspective: 10em;
	z-index: 99;
}

#section_doors .content_door .content_info object
{
	height: 55px;
	width: 40px;
	pointer-events: none;
	transition: 1s;
	z-index: 0;
}

#section_doors .content_door .content_info object.outside_open
{
	transform-origin: 0 50% 0;
	transform: rotateY(60deg);
}

#section_doors .content_door .content_info object.inside_open
{
	transform-origin: 0 50% 0;
	transform: rotateY(-60deg);
}

#section_doors .content_door .content_info .info
{
	display: inline-block;
	margin: 0.5em;
	text-align: center;
	vertical-align: top;
	width: 200px;
}

#section_doors .content_door .content_info .info .info_description
{
	margin-left: 1em;	
}

#section_doors .content_door .content_info .info p
{
	display: inline-block;
	font-size: 0.8em;
	text-align: left;
	width: 90px;
}

#section_doors .content_door .content_info .info p:nth-child(5)
{
	text-align: left;
	width: 100%;
}

#section_doors .content_door .content_info .info .info_battery:after
{
	content: ' %';
}

#section_doors .content_door .content_info .info .info_battery:before
{
	color: #FBD600;
	content: "\e605";
	font-family: 'icomoon';
	margin-right: 3px;
}

#section_doors .content_door .content_info .info .info_time:after
{
	content: ' minutos';
}

#section_doors .content_door .content_info .info .info_time:before
{
	color: #000;
	content: "\e608";
	font-family: 'icomoon';
	margin-right: 3px;
}

#section_doors .content_door .content_info .info .info_input:before
{
	color: #3AB54A;
	content: "\e609";
	font-family: 'icomoon';
	margin-right: 3px;
}

#section_doors .content_door .content_info .info .info_output:before
{
	color: #EC1B23;
	content: "\e60a";
	font-family: 'icomoon';
	margin-right: 3px;
}

#section_doors .content_door .content_info .info .info_description:before
{
	color: #3F7BCB;
	content: "\e60b";
	font-family: 'icomoon';
	margin-right: 3px;
}

/*
 * CSS para modal dialog de escritura
 * de las tarjetas de la habitación.
 */

 .modal_dialog
 {
 	background: transparent;
 	height: 100%;
 	opacity: 0;
 	pointer-events: none;
 	position: fixed;
 	text-align: center;
 	transition: opacity 400ms ease-in; 	
 	width: 100%;
 	z-index: 99999;
 }

 .modal_dialog.show
 {
 	opacity: 1;
 	pointer-events: auto;
 }
 .modal_dialog .dialog
 {
 	background-image: url('../img/background.png');	
 	border-radius: 15px;
 	box-shadow: 0px 0px 0px 7px rgba(34, 188, 224, 0.5);
 	display: inline-block;
 	padding: 10px;
 	position: relative;
 	width: 260px;
 }

 .modal_dialog .dialog .close
 {
 	background: white;
 	border: solid #22BCE0 2px;
 	border-radius: 50%;
 	color: #22BCE0;
 	cursor: pointer;
 	display: block;
 	height: 25px;
 	font-size: 20px;
 	font-weight: bold;
 	padding: 2px;
 	position: absolute;
 	width: 25px;
 	right: -20px;
 	text-align: center;
 	top: -15px;
 	vertical-align: middle;
 	transition: color 100ms ease-in,
 				background 100ms ease-in;
 }

 .modal_dialog .dialog .close:hover
 {
 	color: white;
 	background: #22BCE0;
 }

 .modal_dialog .dialog form #title_room
 {
 	background: #22bce0;
 	border-radius: 15px 0 0 0;
 	color: white;
 	font-weight: bold;
 	margin: -10px 0 0 -10px;
 	padding: 10px 0;
 	text-align: center; 	
 	width: 280px; 	
 }

