@media screen and (min-width: 400px)
{

	/*
	 * 		Ajuste del Font-size del body para resoluciones
	 *		mayores a 320px
	 */

	body
	{
		font-size: 100%;
	}

	/*
	 *		Modificaciones para adoptar el footer
	 *		a su diseño original
	 */

	footer #footer #contact,
	footer #footer #location
	{
		margin-right: 2%;
		margin-top: 50px;	
		width: 300px;
	}

	footer #footer #developer
	{
		background: #fff;
		box-shadow: 3px 3px 5px #999;
		color: #848484;
		display: inline-block;
		font-size: 0.7em;
		margin-left: 2%;
		margin-right: 2%;
		padding: 0.5em;
		text-align: left;
		top: 0;
		vertical-align: top;
		width: 400px;
		
		transform: rotateZ(-10deg);
	}

	footer #footer #developer h3
	{
		color: #4C4C4C;
		margin-top: 1em;
	}

	footer #footer #developer p
	{
		font-family: 'Gloria Hallelujah', cursive;
		margin-top: 1em;
	}

	footer #footer #developer #photo
	{
		border: solid white 3px;
		box-shadow: 1px 1px 5px #999;
		float: left;
		padding: 0.5em;
		margin-right: 10px;
	}

	footer #footer #developer #photo img
	{
		width: 100px;
	}

	header #login
	{
		width: 130px;
	}

	header #login .text_login
	{
		margin-left: 8px;
		margin-right: 5px;
		vertical-align: middle;
	}

	header #login .text_login:after
	{
		content: "Sign in";
		font-weight: bold;
	}

	header #user div #arrow
	{
		top: -20px;
	}

	header #title
	{
		margin-right: 30%;
		padding: 1em;	
	}	

	header #title #logo img
	{
		width: 80px;
	}

	header .title_header
	{
		margin-left: 105px;
	}

	/*
	 *		Reajuste del Contenido
	 *		ajuste de margenes y paddings
	 *		para dar su diseño original
	 */

	#content_presentation .item
	{
		margin: 10px 30px;
		padding: 2em;
		width: 300px;
	}

	#content_presentation .item .description
	{
		font-size: 1em;
		margin-top: 2em;
	}

	#content_presentation .item .icon_description
	{
		font-size: 2em;
	}

}

@media screen and (min-width: 680px)
{
	header #user div
	{
		display: inline-block;
	}
}

@media screen and (min-width: 1400px)
{
	body
	{
		font-size: 120%;
	}

	footer #footer #developer
	{
		width: 410px;
	}

	header h1
	{
		margin-top: -140px;
	}

	header h2
	{
		margin-top: -100px;
	}

	header #login
	{
		margin-right: 10px;
		margin-top: -120px;
		width: 150px;
	}

	header #login .icon_login
	{
		background: url('../img/btn_red2.png') transparent 10px 50% no-repeat;
		width: 50px;
		height: 50px;
	}

	header #title
	{
		border-top: 120px solid #fff;
	}

	header #title #logo
	{
		margin-top:  -130px;
	}

	header #title #logo img
	{
		width: 100px;
	}

	header #user div #arrow
	{
		left: -6px;
		top: -28px;
	}

	header #user #avatar img
	{
		width: 80px;
	}
	
	header .title_header
	{
		margin-left: 125px;
	}

}