@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

*
{
	margin: 0;
}

a
{
	text-decoration: none;
}

body
{
	background-image: url('../img/background.png');	
	color: #4C4C4C;
	height: 100%;
	font-family: "Antic" ,Arial, sans-serif;
	font-size: 80%;
}

/*
 * 		Diseño del Footer
 */

footer
{
	background: #22bce0;
	box-shadow: 0px -3px 10px #999;
	color: #fff;
	font-size: 1em;
}

footer #copyright
{
	display: block;
	font-size: 0.8em;
	padding-bottom: 1em;
	padding-top: 2em;
	text-align: center;
}

footer #copyright p:first-child
{
	padding-top: 30px;
}

footer #footer
{
	text-align: center;
}

footer #footer #contacto
{
	margin-top: 30px;
}

footer #footer #contacto,
footer #footer #localizacion
{
	display: inline-block;
	margin-left: 2%;
	margin-right: 2%;	
	vertical-align: top;
	width: 290px;
}

footer #contacto a
{
	background: white;
	border-radius: 50%;
	color: #999;
	font-size: 1.5em;
	padding: 0.5em;
}

footer #footer #contacto h3,
footer #footer #localizacion h3
{
	padding-bottom: 2em;
}

footer #footer #contacto #gplus:after
{
	content: "\e001";
	font-family: 'icomoon';
}

footer #footer #contacto #gplus:hover
{
	color: #D44332;
}

footer #footer #contacto #skype:after
{
	content: "\e002";
	font-family: 'icomoon';
}

footer #footer #contacto #skype:hover
{
	color: #00B0F6;
}

footer #footer #contacto #twitter:after
{
	content: "\e003";
	font-family: 'icomoon';
}

footer #footer #contacto #twitter:hover
{
	color: #00aced;
}

footer #footer #desarrollador
{
	background: #fff;
	box-shadow: 3px 3px 5px #999;
	color: #848484;
	display: inline-block;
	font-size: 0.7em;
	padding: 0.5em;
	text-align: left;
	top: 0;
	vertical-align: top;
	max-width: 270px;
	
	-webkit-transform: rotateZ(-10deg);
}

footer #footer #desarrollador h3
{
	color: #4C4C4C;
	margin-top: 1em;
}

footer #footer #desarrollador p
{
	font-family: 'Gloria Hallelujah', Arial, cursive;
	margin-top: 1em;
}

footer #footer #desarrollador #foto
{
	border: solid white 3px;
	box-shadow: 1px 1px 5px #999;
	float: left;
	padding: 0.5em;
	margin-right: 10px;
}

footer #footer #desarrollador #foto img
{
	width: 80px;
}

footer #footer #localizacion
{
	padding-bottom: 1em;
	margin-top: 50px;
}

footer #footer #localizacion p
{
	text-align: left;
	padding-bottom: 0.5em;
	padding-left: 3em;
}

/*
 *		Diseño del Header
 */

header .titulo_header
{
	font-family: 'Kite One', Arial, sans-serif;
	margin-bottom: 0px;
	margin-left: 80px;
	margin-right: 20%;
	position: absolute;
}

header h1
{
	font-size: 2em;	
	margin-top: -110px;	
	text-shadow: 3px 1px 0 rgba(0, 0, 0, 0.3);
}

header h2
{
	color: #848484;
	font-size: 1em;
	margin-top: -75px;
}

header h1 span
{
	display: none;
}

header #login
{
	background: #22bce0;
	border-radius: 5px;
	box-shadow: 3px 3px 5px #999;
	color: #fff;	
	float: left;	
	font-size: 1em;
	margin: 3em 0.5em;
	padding: 0.5em 1em;	
	position: absolute;
	top: 0;
	right: 0;
}

header #titulo
{
	border-right: 40px solid transparent;
    border-top: 100px solid #fff;
	margin-right: 20%;
	padding: 1em 0.5em;	

	-webkit-filter: drop-shadow(0px 0px 10px #999);
	/*-moz-filter: drop-shadow(0px 0px 10px #999);
	-ms-filter: drop-shadow(0px 0px 10px #999);
	-o-filter: drop-shadow(0px 0px 10px #999);
	filter: drop-shadow(0px 0px 10px #999);*/
}

header #titulo #logo
{
	margin-top: -100px
}

header #titulo #logo img
{
	width: 70px;
}

/*
 *		Diseño del Contenido de Presentacion
 */

#contenido
{
	text-align: center;
}

#contenido .elemento
{
	display: inline-block;
	margin: 10px 0px;
	text-align: center;
	padding: 1em 0px;
	vertical-align: top;
	width: 300px;
}

#contenido .elemento .descripcion
{
	margin: 1em 2em;
	text-align: center;
}

#contenido .elemento .chapa
{
	box-shadow: 1px 1px 5px #999;
	border-radius: 50px;
	color: #fff;
	display: inline-block;
	font-family: "icomoon";
	font-size: 2em;
	padding: 0.5em;
	text-align: center;
}

#contenido .elemento .descripcion
{
	padding: 1em;
}

#contenido .elemento #chapa1
{
	background: #9CBF60;
}

#contenido .elemento #chapa1:after
{
	content: "\e000";
}

#contenido .elemento #chapa2
{
	background: #D34B44;
}

#contenido .elemento #chapa2:after
{
	content: "\e009";
}

#contenido .elemento #chapa3
{
	background: #E2A326;
}

#contenido .elemento #chapa3:after
{
	content: "\e004";
}