@media screen and (min-width: 320px)
{

	body
	{
		font-size: 80%;
	}

	footer #footer #contacto a
	{
		padding: 0.4em 0.5em;
	}

	footer #footer #localizacion
	{
		margin-left: 2%;
		margin-right: 2%;
		vertical-align: top;
		width: 290px;
	}

	header h1
	{
		margin-top: -110px;
	}

	header h2
	{
		margin-top: -75px;
	}

	header #login
	{
		margin-top: 1.5em;
	}

	header #titulo
	{
		border-top: 100px solid #fff;
		margin-right: 20%;
	}

	header #titulo #logo
	{
		margin-top: -100px;
	}

	header #titulo #logo img
	{
		width: 70px;
	}

	header .titulo_header
	{
		margin-left: 80px;
	}

}

@media screen and (min-width: 400px)
{

	/*
	 * 		Ajuste del Font-size del body para resoluciones
	 *		mayores a 320px
	 */

	body
	{
		font-size: 100%;
	}

	/*
	 *		Modificaciones para adoptar el footer
	 *		a su diseño original
	 */

	footer #footer #contacto,
	footer #footer #localizacion
	{
		margin-right: 2%;
		margin-top: 50px;	
		width: 300px;
	}

	footer #footer #desarrollador
	{
		background: #fff;
		box-shadow: 3px 3px 5px #999;
		color: #848484;
		display: inline-block;
		font-size: 0.7em;
		margin-left: 2%;
		margin-right: 2%;
		padding: 0.5em;
		text-align: left;
		top: 0;
		vertical-align: top;
		width: 400px;
		
		-webkit-transform: rotateZ(-10deg);
		-moz-transform: rotateZ(-10deg);
		-ms-transform: rotateZ(-10deg);
		-o-transform: rotateZ(-10deg);
		transform: rotateZ(-10deg);
	}

	footer #footer #desarrollador h3
	{
		color: #4C4C4C;
		margin-top: 1em;
	}

	footer #footer #desarrollador p
	{
		font-family: 'Gloria Hallelujah', cursive;
		margin-top: 1em;
	}

	footer #footer #desarrollador #foto
	{
		border: solid white 3px;
		box-shadow: 1px 1px 5px #999;
		float: left;
		padding: 0.5em;
		margin-right: 10px;
	}

	footer #footer #desarrollador #foto img
	{
		width: 100px;
	}

	header #titulo
	{
		margin-right: 30%;
		padding: 1em;	
	}	

	header #titulo #logo img
	{
		width: 80px;
	}

	header .titulo_header
	{
		margin-left: 105px;
	}

	/*
	 *		Reajuste del Contenido
	 *		ajuste de margenes y paddings
	 *		para dar su diseño original
	 */

	#contenido .elemento
	{
		margin: 10px 30px;
		padding: 2em;
		width: 300px;
	}

	#contenido .elemento .descripcion
	{
		font-size: 1em;
		margin-top: 2em;
	}

	#contenido .elemento .chapa
	{
		font-size: 2em;
	}

}

@media screen and (min-width: 640px)
{
	header #login
	{
		border-radius: 5px;
		font-size: 1em;
		padding: 0.5em 1em;	
	}

	header #login:before
	{
		content: "Login  ";
		font-weight: bold;
	}
}

@media screen and (min-width: 1400px)
{
	body
	{
		font-size: 120%;
	}

	footer #footer #desarrollador
	{
		width: 410px;
	}

	header h1
	{
		margin-top: -140px;
	}

	header h2
	{
		margin-top: -100px;
	}

	header #login
	{
		margin: 1.5em 0.5em;
	}

	header #titulo
	{
		border-top: 120px solid #fff;
	}

	header #titulo #logo
	{
		margin-top:  -130px;
	}

	header #titulo #logo img
	{
		width: 100px;
	}
	
	header .titulo_header
	{
		margin-left: 125px;
	}

}